{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

      <div class="card"><!-- Charts table -->
				<div class="card-header">
					<h5>
						<i class="fas fa-chart-simple"></i>
						&nbsp;Charts
					</h5>
				</div>

				<div class="card-body">
          <div style="width: 800px;">
            <canvas id="chart"></canvas>
          </div>
				</div><!-- card body -->
		  </div><!-- card -->

	  </div><!-- container-fluid -->

	</section>
</div><!-- content-wrapper -->

<!-- ChartJs -->
<script>
  "use strict";
$(function () {
  const asks = JSON.parse('{{ asks|safe }}');
  const bids = JSON.parse('{{ bids|safe }}')

  const ctx = document.getElementById('chart');

  new Chart(ctx, {
    type: 'scatter',
    data: {
    datasets: [{
      label: 'Asks',
      data: asks,
      borderColor: 'red',
      backgroundColor: 'rgba(255, 0, 0, 0.5)',
      borderWidth: 1,
    },
    {
      label: 'Bids',
      data: bids,
      borderColor: 'green',
      backgroundColor: 'rgba(0, 255, 0, 0.5)',
      borderWidth: 1,
    }]
  },
    options: {
      /*
      scales: {
        y: {
          beginAtZero: true
        },
        x: {
          beginAtZero: true
        }
      }
      */
    }
  });
});
</script>
{% endblock %}
