{% extends "base.html" %}

{% block content %}
<style>
  .button-container {
    float: right;
  }
</style>
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

      <div class="card"><!-- Charts table -->
				<div class="card-header">
					<h5>
						<i class="fas fa-chart-simple"></i>
						&nbsp;Charts
					</h5>
				</div>

				<div class="card-body">
          <table id="symbols" class="table table-borderless table-hover">
						<thead>
							<tr>
                <th><i class="fas fa-coins"></i>&nbsp;Pair</th>
                <th><i class="fas fa-rotate"></i>&nbsp;Scan results</th>
                <th><i class="fas fa-circle-exclamation"></i>&nbsp;Actions</th>
							</tr>
						</thead>

						{% if symbols %}
						<tbody>
							<tr>
                <td>{{ symbols.symbol }}</td>
								<td>{{ symbols.counts }}</td>
                <td>
                  <a href="{% url 'symbolchart' symbol_id=symbols.id %}">View charts</a>
                </td>
							</tr>
						</tbody>
            {% endif %}	

					</table>
				</div><!-- card body -->
		  </div><!-- card -->

	  </div><!-- container-fluid -->

	</section>
</div><!-- content-wrapper -->

<!-- Datatable -->
<script>
  "use strict";
$(function () {
  let table = $('#symbols').DataTable({
    dom: '<"button-container"B>lfrtip',
    responsive: true,
    buttons: [
      {
        extend: 'copy',
        text: '<i class="fas fa-copy"></i> Copy',
        className: 'btn btn-light',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'print',
        text: '<i class="fas fa-print"></i> Print',
        className: 'btn btn-light',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'csv',
        text: '<i class="fas fa-file-csv"></i> CSV',
        className: 'btn btn-light',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'pdf',
        text: '<i class="fas fa-file-pdf"></i> PDF',
        className: 'btn btn-light',
        exportOptions: {
          columns: ':visible'
        }
      }
      ]
  });

});
</script>
{% endblock %}
