{% extends "base.html" %}

{% block content %}
<style>
  .button-container {
    float: right;
  }
</style>
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

      <div class="card"><!-- Charts table -->
				<div class="card-header">
					<h5>
						<i class="fas fa-chart-simple"></i>
						&nbsp;Charts
					</h5>
				</div>

				<div class="card-body">
				</div><!-- card body -->
		  </div><!-- card -->

			<div class="card"><!-- Active Jobs -->
				<div class="card-header">
					<h5>
						<i class="fas fa-list-check"></i>
						&nbsp;Active Tasks
          </h5>
				</div>

				<div class="card-body">
					<table id="active_tasks" class="table table-borderless table-hover">
						<thead>
							<tr>
                <th>Symbol</th>
                <th>Next run UTC</th>
                <th>Interval</th>
                <th>Grouping level</th>
                <th>Depth</th>
							</tr>
						</thead>

						{% if tasks %}
						<tbody>
              {% for task in tasks %}
							<tr>
								<td>{{ task.symbol }}</td>
								<td>{{ task.next_run }}</td>
                <td>{{ task.interval }}<small>&nbsp;mins</small></td>
								<td>{{ task.grouping }}</td>
                <td>{{ task.depth }}</td>
							</tr>
              {% endfor %}
						</tbody>
            {% endif %}	

					</table>
				</div><!-- card body -->
		  </div><!-- card -->

	  </div><!-- container-fluid -->

	</section>
</div><!-- content-wrapper -->


<!-- Active Tasks Datatable -->
<script>
  $(function () {
    let table = $('#active_tasks').DataTable({
      dom: '<"button-container"B>lfrtip',
      responsive: true,
      buttons: [
        {
          extend: 'copy',
          text: '<i class="fas fa-copy"></i> Copy',
          className: 'btn btn-light',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          extend: 'print',
          text: '<i class="fas fa-print"></i> Print',
          className: 'btn btn-light',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          extend: 'csv',
          text: '<i class="fas fa-file-csv"></i> CSV',
          className: 'btn btn-light',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          extend: 'pdf',
          text: '<i class="fas fa-file-pdf"></i> PDF',
          className: 'btn btn-light',
          exportOptions: {
            columns: ':visible'
          }
        }
        ]
    });
  
  });
  </script>

{% endblock %}
