{% extends "base.html" %}

{% block content %}
<style>
  .button-container {
    float: right;
  }
</style>
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

      <div class="card"><!-- Clusters table -->
				<div class="card-header">
					<h5>
						<i class="fas fa-chart-simple"></i>
						&nbsp;Charts
					</h5>
				</div>

				<div class="card-body">
					

				</div><!-- card body -->
		  </div><!-- card -->

			<div class="card"><!-- Active Jobs -->
				<div class="card-header">
					<h5>
						<i class="fas fa-bars-progress"></i>
						&nbsp;Active Jobs
          </h5>
				</div>

				<div class="card-body">
					<table id="last_report" class="table table-borderless table-hover">
						<thead>
							<tr>
                <th>Symbol</th>
                <th>Last run</th>
                <th>Depth</th>
                <th>Grouping level</th>
                <th>Refresh interval</th>
							</tr>
						</thead>

						{% if clusters_data %}
						<tbody>
              {% for i in clusters_data %}
							<tr>
								<td>{{ i.cluster_name }}</td>
								<td>{{ i.entities_count }}</td>
                <td>{{ i.threshold }}</td>
								<td><span class="badge badge-success">Normal</span></td>
                <td>
                  <small class="text-muted">
                    Last check: 2023-01-03 22:32:22
                  </small>
                </td>
							</tr>
              {% endfor %}
						</tbody>
            {% endif %}	

					</table>
				</div><!-- card body -->
		  </div><!-- card -->

	  </div><!-- container-fluid -->

	</section>
</div><!-- content-wrapper -->

<!-- datatable -->
<script>
$(function () {
  let table = $('#clusters').DataTable({
    dom: '<"button-container"B>lfrtip',
    responsive: true,
    ordering: false,
    buttons: [
      {
        extend: 'copy',
        text: '<i class="fas fa-copy"></i> Copy',
        className: 'btn btn-light',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'print',
        text: '<i class="fas fa-print"></i> Print',
        className: 'btn btn-light',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'csv',
        text: '<i class="fas fa-file-csv"></i> CSV',
        className: 'btn btn-light',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'pdf',
        text: '<i class="fas fa-file-pdf"></i> PDF',
        className: 'btn btn-light',
        exportOptions: {
          columns: ':visible'
        }
      }
      ]
  });

});
</script>

<!-- Datatable -->
<script>
  $(function () {
    let table = $('#last_report').DataTable({
      dom: '<"button-container"B>lfrtip',
      responsive: true,
      ordering: false,
      buttons: [
        {
          extend: 'copy',
          text: '<i class="fas fa-copy"></i> Copy',
          className: 'btn btn-light',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          extend: 'print',
          text: '<i class="fas fa-print"></i> Print',
          className: 'btn btn-light',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          extend: 'csv',
          text: '<i class="fas fa-file-csv"></i> CSV',
          className: 'btn btn-light',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          extend: 'pdf',
          text: '<i class="fas fa-file-pdf"></i> PDF',
          className: 'btn btn-light',
          exportOptions: {
            columns: ':visible'
          }
        }
        ]
    });
  
  });
  </script>

{% endblock %}
