{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

      <div class="card"><!-- Charts table -->
				<div class="card-header">
					<h5>
						<i id="symbolIcon"></i>
						&nbsp;{{ symbol }} chart
					</h5>
          <small class="text-muted">
            This pair has <strong>{{ tasks }}</strong> tasks associated
          </small>
				</div>

				<div class="card-body">
          {% csrf_token %}
          <label for="timestamp-select"><i class="fas fa-clock"></i>
            &nbsp;Select timestamp:</label>
          <select id="timestamp-select" class="form-control" style="width: 100%;">
          {% for timestamp in timestamps %}
            <option value="{{ timestamp }}" {% if timestamp == default_timestamp %}selected{% endif %}>
            {{ timestamp }}
            </option>
          {% endfor %}
          </select>

          <!-- Chart -->
          <div style="width: 800px;">
            <canvas id="chart"></canvas>
          </div>
				</div><!-- card body -->
		  </div><!-- card -->

	  </div><!-- container-fluid -->

	</section>
</div><!-- content-wrapper -->

<!-- Get symbols -->
<script>
$(function () {

	$.ajax({
		url: "{% url 'symbols' %}",
		success: function(data) {
			getSymbol(data)
		}
	})

  function addIcon (symbol) {
    const obj = $('#symbolIcon');
    let iconPath =
      '<span><img src="{% static 'images/coins/' %}' + symbol.replace('USDT', '') +
      '.png"/></span>';
      obj.append(iconPath);
  };

	function getSymbol(data) {
    const pathname = window.location.pathname;
    const symbolId = pathname.split('/')[2];

    $.ajax({
      url: "{% url 'symbols' %}",
      method: "POST",
      data : {
      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      data: JSON.stringify(symbolId),
      },
      success: function(response) {
        addIcon(response.symbol)
      },
      error: function(xhr, status, error){
        console.log(xhr.responseText);
      }
    })
	}
});
</script>

<!-- ChartJs -->
<script>
  "use strict";
  $(function () {

    let asks = JSON.parse('{{ asks|safe }}');
    let bids = JSON.parse('{{ bids|safe }}');

    const ctx = document.getElementById('chart');

    let symbolChart = new Chart(ctx, {
      type: 'scatter',
      data: {
      datasets: [{
        label: 'Asks',
        data: asks,
        borderColor: 'red',
        backgroundColor: 'rgba(255, 0, 0, 0.5)',
        borderWidth: 1,
      },
      {
        label: 'Bids',
        data: bids,
        borderColor: 'green',
        backgroundColor: 'rgba(0, 255, 0, 0.5)',
        borderWidth: 1,
      }]
      }
    });

    // select field
    $("#timestamp-select").select2({
			theme: 'bootstrap4',
		}).on('select2:select', function (e) {
      let data = e.params.data;

      // send new selected timestamp to backend
      $.ajax({
        url: window.location.href,
				method: "POST",
				data : {
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
				data: JSON.stringify(data.id),
				},
				success: function(response){
          symbolChart.data.datasets[0].data = JSON.parse(response.asks)
          symbolChart.data.datasets[1].data = JSON.parse(response.bids)
          symbolChart.update()
				},
				error: function(xhr, status, error){
					console.log(xhr.responseText);
				}
			})

    });

});
</script>
{% endblock %}
